<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/biblioteca/styles.css">
    <title>Lista de Usuarios</title>
</head>
<body>
    <div class="container">
        <h1>Usuarios Registrados</h1>
        <ul>
            {% for usuario in usuarios %}
                <li>{{ usuario.nombre }} - {{ usuario.email }}</li>
            {% endfor %}
        </ul>
        <div class="links">
            <a href="{% url 'crear_usuario' %}">Registrar Nuevo Usuario</a>
            <a href="{% url 'pagina_inicio' %}">Volver al Inicio</a>
        </div>
    </div>
</body>
</html>


